$font1:#fff;
$font2:#000;
$font3:rgb(94, 86, 67);
$font4:rgb(165, 153, 116);
$font5:rgb(255, 255, 255);
$font6:#29261a;
$font7:rgb(111, 101, 79);
  
  section {
    display: grid;
    justify-content: space-between;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
    .card_1 {
      grid-area: 1/1/2/2;
    }
    .card_2 {
      grid-area: 2/1/3/2;
    }
    .card_3 {
      grid-area: 3/1/4/2;
    }
   
  }
 
  .card_1{
    min-height: 150px;
    width: 100%;
    background-color: $font1;
    border: 5px solid rgb(165, 153, 116);
  
   .card__img {
    background-image: url(../img/aretes1.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 450px;
  }
  
   .card__descripcion {
    color: $font6;
    padding: 20px;
    text-align: center;
    object-fit: fill;
  }
   .card__button {
    background-color: rgb(165, 153, 116);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    width: 115px;
    margin: 8%;
    width: 50%;
  }
   .card__button:hover {
    background-color: #000;
    width: 50%;
  }
}
  .card_2 {
    min-height: 150px;
    width: 100%;
    background-color: $font1;
    border: 5px solid rgb(165, 153, 116);
  
   .card__img2 {
    background-image: url(../img/aretes2.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    object-fit: fill;
  }
  
   .card__descripcion {
    color: $font6;
    padding: 20px;
    text-align: center;
    object-fit: fill;
  }
   .card__button {
    background-color: rgb(165, 153, 116);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    width: 115px;
    margin: 8%;
    width: 50%;
  }
   .card__button:hover {
    background-color: #000;
    width: 50%;
  }
}
  .card_3 {
    min-height: 150px;
    width: 100%;
    background-color: $font1;
    border: 5px solid rgb(165, 153, 116);
  
   .card__img3 {
    background-image: url(../img/aretes3.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    object-fit: fill;
  }
  
   .card__descripcion {
    color: $font6;
    padding: 20px;
    text-align: center;
    object-fit: fill;
  }
   .card__button {
    background-color: rgb(165, 153, 116);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    width: 115px;
    margin: 8%;
    width: 50%;
  }
   .card__button:hover {
    background-color: #000;
    width: 50%;
  }
}
  .card_4 {
    min-height: 150px;
    width: 100%;
    background-color: $font1;
    border: 5px solid rgb(165, 153, 116);
  
   .card__img4 {
    background-image: url(../img/aretes5.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    object-fit: fill;
  }

   .card__descripcion {
    color: $font6;
    padding: 20px;
    text-align: center;
    object-fit: fill;
  }
   .card__button {
    background-color: rgb(165, 153, 116);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    width: 115px;
    margin: 8%;
    width: 50%;
  }
   .card__button:hover {
    background-color: #000;
    width: 50%;
  }
}


.card_5 {
  min-height: 150px;
  width: 100%;
  background-color: $font1;
  border: 5px solid rgb(165, 153, 116);

 .card__img5 {
  background-image: url(../img/aretes8.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  object-fit: fill;
}
 
 .card__descripcion {
  color: $font6;
  padding: 20px;
  text-align: center;
  object-fit: fill;
}
 .card__button {
  background-color: rgb(165, 153, 116);
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 5px #000;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  width: 115px;
  margin: 8%;
  width: 50%;
}
 .card__button:hover {
  background-color: #000;
  width: 50%;
}
}


