//fonts
$font1:#fff;
$font2:#000;
$font3:rgb(94, 86, 67);
$font4:rgb(165, 153, 116);
$font5:#333;
$font6:rgb(134, 123, 96);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-content{
    height: 50%;
    width: 55%;
    //max-width: 450px;
    background-color: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
    border: 5px solid $font3;
}
.h1::after{
    content: '';
    width: 10px;
    height: 4px;
    border-radius: 3px;
    background: $font6;
    position: absolute;
    bottom: -12px;
    //left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background-color: $font1;
    margin: 15px 0;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
    margin-top: 10px;
   
}
.input{
    //width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    //padding: 18px 15px;
    //color: #fff;
}

.input::placeholder{
    color: #333;
    text-align: center;
    width: 80%;
}
.fa-envelope{
text-align: center;
//width: 100%;
}
.input-field i{
    margin-left: $font5;
    font-size: 20px;

}
form p{
    color: #000;
    font-size: 15px;
    
}
form p a {
    color: #04BD7D;
    //margin-left: 20px;
    text-align: center;
    
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: #000;
}
.btn-field button{
    flex-basis: 30%;
    font-size: 16px;
    background-color: rgb(134, 123, 96);
    color: #fff;
    height: 50px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    border: #000;

}

.btn-field button.disable{
    flex-basis: 20%;
    flex-basis: 30%;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    height: 50px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    border: #000;
}

